@{
    ViewBag.Title = "BookSearch";
}
@model IEnumerable<BookStore2.Models.Book>

<div>
    <h3>Найдено @Model.Count(): </h3>
    <table>        
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.ActionLink(@item.BookName, "BookInfo", "Home", new { id = item.Id }, null )</td>                  
            </tr>
           
            
        }
    </table>
</div>

    